import {observer} from 'mobx-react-lite';
import React from 'react';

import {useTranslate} from 'hooks/translate.hook';
import {useStore} from 'contexts/store.context';

interface {{name}}Props {
	anyProp?: string;
}

export const {{name}} = observer(({anyProp}: {{name}}Props) => {
	const {translate} = useTranslate();
	const {user} = useStore();

	return (
		<div className="{{name}}">
			<h1>{translate('{{name}}.title')}</h1>
		</div>
	);
});
